<div class="container conditions">
  <h1>Conditions</h1>

  <%= will_paginate @condtions %>
  <% @conditions.each do |cond| %>
  <div class="col-lg-3 col-md-4 mb-4">
    <div class="panel panel-default text-center">
      <h3 class="panel-heading condition-<%= cond.id %>">
        <strong><%= link_to cond.date, condition_path(cond) %></strong>
      </h3>
      <ul class='panel-body'>
        <li>
          Max Temperature: <%= cond.max_temp_f %>
          <li>
            Mean Temperature: <%= cond.mean_temp_f %>
          </li>
          <li>
            Min Temperature: <%= cond.min_temp_f %>
          </li>
          <li>
            Mean Humidity: <%= cond.mean_humidity %>
          </li>
          <li>
            Max Visibility: <%= cond.mean_visibility_miles %>
          </li>
          <li>
            Mean Wind Speed: <%= cond.mean_wind_speed_mph %>
          </li>
          <li>
            Precipitation: <%= cond.precipitation_inches %>
          </li>
        </ul>
      </div>
    </div>
    <% end %>
</div>
