<div class="container trips">


  <h1>Conditions on <%= @condition.month_day_converter %></h1>

  <div class="panel">
    <ul>
      <li>Max Temperature: <%= @condition.max_temp_f %></li>
      <li>Mean Temperature: <%= @condition.mean_temp_f %></li>
      <li>Minimum Temperature: <%= @condition.min_temp_f %></li>
      <li>Mean Humidity: <%= @condition.mean_humidity %></li>
      <li>Mean Visibility Levels: <%= @condition.mean_visibility_miles %></li>
      <li>Mean Wind Speed: <%= @condition.mean_wind_speed_mph %></li>
      <li>Precipitation Levels: <%= @condition.precipitation_inches %></li>
      <li>Zipcode: <%= @condition.zip_code %></li>
    </ul>

    <% if current_user && current_user.admin? %>
      <%= link_to "Edit", edit_admin_condition_path(@condition) %> - <%= button_to "Delete", admin_condition_path(@condition), method: :delete %>
    <% end %>
  </div>
</div>
