<div class="container trips">


  <h1>Conditions on <%= @condition.month_day_converter %></h1>

  <div class="panel">
    <ul>
      <li><p class="label">Max Temperature:</p> <%= @condition.max_temp_f %></li>
      <li><p class="label">Mean Temperature:</p> <%= @condition.mean_temp_f %></li>
      <li><p class="label">Minimum Temperature:</p> <%= @condition.min_temp_f %></li>
      <li><p class="label">Mean Humidity:</p> <%= @condition.mean_humidity %></li>
      <li><p class="label">Mean Visibility Levels:</p> <%= @condition.mean_visibility_miles %></li>
      <li><p class="label">Mean Wind Speed:</p> <%= @condition.mean_wind_speed_mph %></li>
      <li><p class="label">Precipitation Levels:</p> <%= @condition.precipitation_inches %></li>
      <li><p class="label">Zipcode:</p> <%= @condition.zip_code %></li>
    </ul>

    <% if current_user && current_user.admin? %>
      <%= link_to "Edit", edit_admin_condition_path(@condition) %> - <%= link_to "Delete", admin_condition_path(@condition), method: :delete, data: {confirm: "Are you sure you want to delete this condition?"} %>
    <% end %>
  </div>
</div>
