<div class="index-pagination">
  <h1>Trips</h1>
  <% if current_user && current_user.admin? %>
    <div class="mr-auto new-condition">
      <h3><%= link_to "Create New Trip", new_admin_trip_path %></h3>
    </div>
  <% end %>
  <%= will_paginate @trips %>
</div>

<div class="container trips">
  <% @trips.each do |trip| %>
    <a href="<%= trip_path(trip) %>">
      <div class="col-lg-4 col-md-3">
        <div class="panel">
          <li>Duration: <%= trip.duration %></li>
          <li>Start Date: <%= trip.start_date.strftime("%m/%d/%Y") %></li>
          <li>Start Station: <%= trip.start_station.name %></li>
          <li>End Date: <%= trip.end_date.strftime("%m/%d/%Y") %></li>
          <li>End Station: <%= trip.end_station.name %></li>
          <li>Bike Id: <%= trip.bike_id %></li>
          <li>Subscription Type: <%= trip.subscription_type %></li>
          <li>Zip Code: <%= trip.zip_code %></li>
          <% if current_user && current_user.admin? %>
            <%= link_to "Edit", edit_admin_trip_path(trip) %> - <%= link_to "Delete", admin_trip_path(trip), method: :delete %>
          <% end %>
        </div>
      </div>
    </a>
  <% end %>
</div>

<div class="index-pagination panel">
  <%= will_paginate @trips %>
</div>
