<div class="index-pagination">
  <h1>Trips</h1>
  <% if current_user && current_user.admin? %>
    <div class="mr-auto new-condition">
      <h3><%= link_to "Create New Trip", new_admin_trip_path %></h3>
    </div>
  <% end %>
  <%= will_paginate @trips %>
</div>

<div class="container trips">
  <% @trips.each do |trip| %>
    <a href="<%= trip_path(trip) %>">
      <div class="col-lg-4 col-md-3">
        <div class="panel">
          <li><p class="label">Duration:</p> <%= trip.duration %></li>
          <li><p class="label">Start Date:</p> <%= trip.start_date.strftime("%m/%d/%Y") %></li>
          <li><p class="label">Start Station:</p> <%= trip.start_station.name %></li>
          <li><p class="label">End Date:</p> <%= trip.end_date.strftime("%m/%d/%Y") %></li>
          <li><p class="label">End Station:</p> <%= trip.end_station.name %></li>
          <li><p class="label">Bike Id:</p> <%= trip.bike_id %></li>
          <li><p class="label">Subscription Type:</p> <%= trip.subscription_type %></li>
          <li><p class="label">Zip Code:</p> <%= trip.zip_code %></li>
          <% if current_user && current_user.admin? %>
            <%= link_to "Edit", edit_admin_trip_path(trip) %> - <%= link_to "Delete", admin_trip_path(trip), method: :delete, data: {confirm: "Are you sure you want to delete this trip?"} %>
          <% end %>
        </div>
      </div>
    </a>
  <% end %>
</div>

<div class="index-pagination panel">
  <%= will_paginate @trips %>
</div>
