<div class="container trips">

  <h1>Trip Details</h1>

  <div class="panel">
    <ul>
      <li>Duration: <%= @trip.duration %></li>
      <li>Start Date: <%= @trip.start_date.strftime("%m/%d/%Y") %></li>
      <li>Start Station: <%= @trip.start_station_name %></li>
      <li>End Date: <%= @trip.end_date.strftime("%m/%d/%Y") %></li>
      <li>End Station: <%= @trip.end_station_name %></li>
      <li>Bike Id: <%= @trip.bike_id %></li>
      <li>Subscription Type: <%= @trip.subscription_type %></li>
      <li>Zip Code: <%= @trip.zip_code %></li>
    </ul>
    <% if current_user && current_user.admin? %>
      <%= link_to "Edit", edit_admin_trip_path(@trip) %> - <%= link_to "Delete", admin_trip_path(@trip), method: :delete %>
    <% end %>
  </div>
</div>
