<div class="container">
  <div class="jumbotron">
    <h1>Cart</h1>
    <h3>Cart Count: <%= @cart.total_count %></h3>
    <h3>Total: <%= number_to_currency(@cart.cart_subtotal) %></h3>
    <% unless current_user %>
      <%= link_to "Please Sign Up Or Log In", login_path %>
    <% else %>
      <%= button_to "Checkout", orders_path %>
    <% end %>
  </div>

  <% @accessories.each do |accessory| %>
    <div class="panel panel-default text-center cart-contents">
      <div class="panel-heading">
        <h3>
          <%= link_to accessory.name, accessory_path(accessory) %>
        </h3>
        <div class="image">
          <%= image_tag accessory.avatar.url, class: 'img-responsive' %>
        </div>
      </div>
      <div class="panel-body">
        <div class='table-responsive'>
          <table class='table'>
            <thead>
              <th>Unit Price</th>
              <th>Quantity</th>
              <th>Subtotal</th>
            </thead>
            <tbody>
              <td><%= number_to_currency(accessory.price) %></td>
              <td><%= @cart.count_of(accessory.id) %></td>
              <td><%= number_to_currency(@cart.subtotal(accessory)) %></td>
            </tbody>
          </table>
        </div>
        <div class="buttons">
          <%= button_to 'Increase', increase_cart_index_path(accessory_id: accessory.id) %>
          <%= button_to 'Remove Accessory', remove_cart_index_path(accessory_id: accessory.id) %>
          <%= button_to 'Decrease', decrease_cart_index_path(accessory_id: accessory.id) %>
        </div>
      </div>
    </div>
  <% end %>
</div>
