<h1>Stations</h1>


<% if current_user && current_user.admin? %>
  <h3><%= link_to "Create New Station", new_admin_station_path %></h3>
<% end %>

<%= will_paginate @stations %>
<ul>
  <% @stations.each do |station| %>
  <div class="station-container">
    <li>Name:              <%= station.name %></li>
    <li>Dock Count:        <%= station.dock_count %></li>
    <li>City:              <%= station.city %></li>
    <li>Installation Date: <%= station.installation_date %></li>
    <br>
    <br>
  </div>  
  <% end %>
</ul>
