<h1>Station Details</h1>

<ul>
  <li>Name:              <%= @station.name %></li>
  <li>Lat:               <%= @station.lat %></li>
  <li>Long:              <%= @station.long %></li>
  <li>Dock Count:        <%= @station.dock_count %></li>
  <li>City:              <%= @station.city %></li>
  <li>Installation Date: <%= @station.installation_date %></li>
</ul>