<div class="container">
  <div class="panel">
    <div class="panel-heading">
      <h1>Order: <%= @order.id %></h1>
      <h2>Purchaser Name: <%= @order.user.first_name %> <%= @order.user.last_name %></h2>
      <h2>Purchaser Address:</h2>
        <address>
          <p><%= @order.user.address %></p>
          <p><%= @order.user.city %>, <%= @order.user.state %> <%= @order.user.zip_code %></p>
        </address>
      <h2>Total: <%= @order.total %> </h2>
      <h2>Status: <%= @order.status %></h2>
      <h2>Submitted At: <%= @order.created_at %></h2>
    </div>
    <div class="panel-body">
      <% @order.accessories.each do |accessory| %>
        <li><%=link_to accessory.name, accessory_path(accessory) %></li>
        <li>quantity: <%= @order.accessory_quantity(accessory.id) %></li>
        <li>subtotal: <%= @order.accessory_subtotal(accessory.id) %></li>
      <% end %>
    </div>
  </div>
</div>
