<%= form_for [:admin, @accessory], html: {multipart: true} do |f|%>
  <div class="form-group">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %><br>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description %><br>
  </div>

  <div class="form-group">
    <%= f.label :avatar %><br>
    <%= f.file_field :avatar %>
  </div>

  <%= f.submit class: 'btn btn-default btn-submit' %>
<% end %>
