<div class="jumbotron text-center">
  <h1><em>Bike Shop</em></h1>
</div>
<% if current_user && current_user.admin? %>
  <div class="create-accessory">
    <%= link_to "Create Accessory", new_admin_accessory_path %>
  </div>
<% end %>
<div class="container">
  <% @accessories.each do |accessory| %>
  <div class="col-md-4 col-md-4">
    <div class="panel panel-default text-center">
      <h3 class="panel-heading"> <%= link_to accessory.name, accessory_path(accessory) %> </h3>
      <ul class="panel-body">
        <p><%= image_tag accessory.avatar.url, class: 'img-responsive' %></p>
        <li><%= accessory.price %></li>
        <li><%= accessory.description %></li>
        <% if accessory.status == 'Active' %>
          <%= button_to 'Add to Cart', cart_index_path(accessory_id: accessory.id) %>
        <% else %>
          <li>Item is Retired</li>
        <% end %>
      <% if current_user && current_user.admin? %>
        <div class="buttons">
          <li>
            <%= button_to 'Retire', admin_accessory_path(accessory, accessory: {status: 'Retired'}), method: 'put' %>
          </li>
          <li>
            <%= link_to 'Edit', edit_admin_accessory_path(accessory) %>
          </li>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
