<h1>Trip Dashboard</h1>

<p>Average Duration: <%= @trips.average_duration %></p>

<p>Longest Ride: <%= @trips.sort_by_duration.last.duration %></p>
<p>Shortest Ride: <%= @trips.sort_by_duration.first.duration %></p>

<p>Station with most started rides: <%= @trips.station_with_most_starts %></p>
<p>Station with most ended rides: <%= @trips.station_with_most_ends %></p>

<p>Rides by Year:</p>
  <% @trips.rides_by_year.each do |key, value| %>
    <%= key.year %>: <%= value %>
  <% end %>
<p>Rides by Month: </p>
  <% @trips.rides_by_month.each do |key, value| %>
    <%= key.strftime("%B") %>: <%= value %>
  <% end %>

  <p>Most ridden bike: <%= @trips.bike_with_most_rides.first %> - <%= @trips.bike_with_most_rides.last %> rides</p>
  <p>Least ridden bike: <%= @trips.bike_with_least_rides.first %> - <%= @trips.bike_with_least_rides.last %> rides</p>
