<div class="index-pagination">
  <div class="container">
    <div class="panel panel-default">
      <h2><%= current_user.first_name %>'s Profile</h2>
      <p>Name: <%= current_user.first_name %> <%= current_user.last_name %></p>
      <p>Email: <%= current_user.email %></p>
      <% if current_user %>
      <%= link_to "delete", user_path(current_user), method: "delete", data: {confirm: "Are you sure you want to delete your account?"} %> -
      <%= link_to "edit", edit_user_path(current_user) %>
      <% end %>
    </div>
  </div>
  <div class="container">
    <div class="panel">
      <table class="table">
        <thead>
          <th>Order Date</th>
          <th>Order Total Price</th>
          <th>Order Status</th>
        </thead>
        <% current_user.orders.each do |order| %>
        <tbody>
            <th><%= link_to "#{order.created_at}", order_path(order) %></th>
            <th><%= order.total %></th>
            <th><%= order.status %></th>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
