<div class="index-pagination">
  <div class="panel panel-default">
    <h2><%= current_user.first_name %>'s Profile</h2>
    <p>Name: <%= current_user.first_name %> <%= current_user.last_name %></p>
    <p>Email: <%= current_user.email %></p>
    <% if current_user %>
      <%= link_to "delete", user_path(current_user), method: "delete", data: {confirm: "Are you sure you want to delete your account?"} %> -
      <%= link_to "edit", edit_user_path(current_user) %>
    <% end %>
  </div>
  <% current_user.orders.each do |order| %>
    <div class="panel">
      <%= link_to "Order: #{order.id}", order_path(order) %>
    </div>
  <% end %>
</div>
