<%= form_for [:admin, @trip] do |f|%>
  <div class="form-group">
    <%= f.label :duration %>
    <%= f.number_field :duration %>
  </div>

  <div class="form-group">
    <%= f.label :start_date %>
    <%= f.date_field :start_date %><br>
  </div>

  <div class="form-group">
    <%= f.label :start_station_name %>
    <%= f.text_field :start_station_name %><br>
  </div>

  <div class="form-group">
    <%= f.label :start_station_id %>
    <%= f.number_field :start_station_id %><br>
  </div>

  <div class="form-group">
    <%= f.label :end_date %>
    <%= f.date_field :end_date %><br>
  </div>

  <div class="form-group">
    <%= f.label :end_station_name %>
    <%= f.text_field :end_station_name %><br>
  </div>

  <div class="form-group">
    <%= f.label :end_station_id %>
    <%= f.number_field :end_station_id %><br>
  </div>

  <div class="form-group">
    <%= f.label :bike_id %>
    <%= f.number_field :bike_id %><br>
  </div>

  <div class="form-group">
    <%= f.label :subscription_type %>
    <%= f.text_field :subscription_type %><br>
  </div>

  <div class="form-group">
    <%= f.label :zip_code %>
    <%= f.number_field :zip_code %><br>
  </div>

  <div class="form-group">
    <%= f.label :condition_id %>
    <%= f.collection_select(:condition_id, @conditions, :id, :date) %><br>
  </div>

  <%= f.submit "Update Trip", class: 'btn btn-default btn-submit' %>
<% end %>
