<%= form_for [:admin, @trip] do |f|%>
  <div class="form-group">
    <%= f.label :duration %>
    <%= f.number_field :duration %>
  </div>

  <div class="form-group">
    <%= f.label :start_date %>
    <%= f.date_field :start_date %><br>
  </div>

  <div class="form-group">
    <%= f.label :start_station %>
    <%= f.collection_select :start_station_id, @stations, :id, :name %><br>
  </div>

  <div class="form-group">
    <%= f.label :end_date %>
    <%= f.date_field :end_date %><br>
  </div>

  <div class="form-group">
    <%= f.label :end_station %>
    <%= f.collection_select :end_station_id, @stations, :id, :name %><br>
  </div>

  <div class="form-group">
    <%= f.label :bike_id %>
    <%= f.number_field :bike_id %><br>
  </div>

  <div class="form-group">
    <%= f.label :subscription_type %>
    <%= f.select :subscription_type, ["Customer", "Subscriber"] %><br>
  </div>

  <div class="form-group">
    <%= f.label :zip_code %>
    <%= f.number_field :zip_code %><br>
  </div>

  <%= f.submit class: 'btn btn-default btn-submit' %>
<% end %>
