<div class="jumbotron text-center">
  <i class="fa fa-cloud"></i>
  <h1><em>Stations Dashboard</em></h1>
</div>

<div class="container analytics">
  <div class="panel panel-default text-center">
    
    <p>Total count of stations: <%= @stations.station_count %><p>
    <p>Average bikes available: <%= @stations.average_bikes_available %></p>
    <p>Most bikes available at any station: <%= @stations.most_bikes_available_at_a_station %></p>
      <ul>
        <% @stations.stations_with_most_bikes_available.each do |station| %>
          <li><%= station %></li>
        <% end %>
      </ul>

    <p>Fewest bikes available at any station: <%= @stations.fewest_bikes_available_at_a_station %></p>
      <ul>
        <% @stations.stations_with_fewest_bikes_available.each do |station| %>
          <li><%= station %></li>
        <% end %>
      </ul>

    <p>Most recently installed station: <%= @stations.sort_by_installation_date.last.name %></p>
    <p>Oldest station: <%= @stations.sort_by_installation_date.first.name %></p>
  </div>
</div>
