<div class="container text-center">

  <div class="index-pagination">
    <div class="panel panel-default">
      <h2 class='panel-heading'><%= current_user.first_name %>'s Profile</h2>
      <div class="panel-body">
        <p>Name: <%= current_user.first_name %> <%= current_user.last_name %></p>
        <p>Email: <%= current_user.email %></p>
        <% if current_user && current_user.admin? %>
          <%= link_to "delete", user_path(current_user), method: "delete", data: {confirm: "Are you sure you want to delete your account?"} %> -
          <%= link_to "edit", edit_user_path(current_user) %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="admin-links">
    <h1><%= link_to 'Bike-Shop', accessories_path %></h1>
  </div>


  <h2>All Orders</h2>

  <% @orders.each do |order| %>
    <ul>
      <li><%= link_to "Order: #{order.id}", admin_order_path(order) %>: total - <%= order.total %>, <%= order.status %></li>
    </ul>
  <% end %>

</div>
