<div class="jumbotron text-center">
  <h1><em>Bike Shop</em></h1>
</div>
<% if current_user && current_user.admin? %>
  <div class="create-accessory">
    <%= link_to "Create Accessory", new_admin_bike_shop_path %>
  </div>
<% end %>
<div class="container">
<%= link_to "New Accessory", new_admin_bike_shop_path, class: 'btn btn-success' %>
  <% @accessories.each do |accessory| %>
  <div class="col-md-4 col-md-4">
    <div class="panel panel-default text-center">
      <h3 class="panel-heading"> <%= link_to accessory.name, bike_shop_path(accessory) %> </h3>
      <ul class="panel-body">
        <li><%= accessory.price %></li>
        <li><%= accessory.description %></li>
      <% if current_user && current_user.admin? %>
        <div class="buttons">
          <li>
            <%= button_to 'Delete', bike_shop_path(accessory), method: :delete%>
          </li>
          <li>
            <%= link_to 'Edit', edit_admin_bike_shop_path(accessory) %>
          </li>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
