<div class="container trips">
  <div class="panel">
    <div class="panel-heading">
      <h3><%= @accessory.name %></h3><br>
      <%= image_tag @accessory.avatar.url, class: 'img-responsive' %>
    </div>
    <div class="panel-body">
      <% price = Money.new(@accessory.price, 'USD') %>
      <li><%= number_to_currency(price) %></li><br>
      <li><%= @accessory.description %></li><br>
      <% if @accessory.status == 'Active' %>
        <%= button_to 'Add to Cart', cart_index_path(accessory_id: @accessory.id) %>
      <% else %>
        <li>Item is Retired</li>
      <% end %>
    </div>
  </div>
</div>
